footer {
    background-color: rgb(54, 54, 54);

    ul {
        list-style-type: none;
        padding-left: 7%;
    }
}

h4 {
    padding-top: 4%;
}

.link {
    text-decoration: none;
    color: white;
    font-size: .9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1%;

    p {
        margin: 0;
        padding-left: 2%;
    }
}

// Underline seulement sur les textes,
// pas sous les icons

.link:hover {
    p {
        text-decoration: underline $tertiary;
    }
    i {
        color: $tertiary;
    }
}

.linkOnly:hover {
    text-decoration: underline $tertiary;
}

.fa-utensils {
    margin-right: 1%;
}