header {
    text-align: center;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 3%;
}

.withBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}