* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $shadows-light;
}

#notice {
    background-color: white;
    
}

section {
    padding: 7% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Modèle des boxes*/

.box {
    border: none;
    border-radius: 15px;
    @include boxShadow;
    padding: 6% 3%;
    margin: 5% 3% 1% 3%;
    font-weight: bold;
    cursor: pointer;
}

.noticeBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $shadows-light;
    transition: all 200ms ease-in-out;
    position: relative;

    i {
        margin: 0 7%;
        color: grey;
    }
}

.noticeBox:hover {
    background-color: rgb(245, 237, 255);

    i {
        color: $primary;
    }
}

.noticeNumber {
    background-color: $primary;
    color: white;
    font-weight: normal;
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    left: -15px;
}


/*Cartes accueil*/

#restaurants {
    background-color: $shadows-light;
    display: flex;
    flex-direction: column;

    h2 {
        padding-bottom: 5%;
    }
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 5%;
    position: relative;
    @include boxShadow;

    >a {
        text-decoration: none;
        color: black;

        >img {
            width: 100%;
            max-width: 300px;
            height: 190px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
    }
}

.description {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 1% 0 4% 5%;

    div>p {
        margin-top: 0;
        font-size: .9em;
    }
}


/*Pages menu*/
/*Bg image*/

#menuImg {
    flex-basis: 100%;
    height: 300px;
    
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin-bottom: -50px;
}

#Palette {
    background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

#Note {
    background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

#France {
    background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

#Delice {
    background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}



/*Section menu*/


.menuSection {
    background-color: $shadows-light;
    border-radius: 35px 35px 0 0;
    margin-top: -40px;
    padding-top: 8px;
    position: relative;

    article {
        margin-bottom: 5%;
    }
}



.menuBox {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0%;
    padding: 2% 2% 0 2%;
    height: 80px;
    position: relative;
    transition: all 400ms ease-in-out;    
}



.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p:first-child {
        font-weight: normal;
        margin-right: auto;
    }
}

.price {
    align-items: flex-end;
    text-align: right; 
    font-weight: bold;
    transition: all 400ms ease-in-out;
}

