* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 600px;
}

section {
    padding: 7% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: $shadows-light;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3%;
    margin-bottom: 5%;
    font-weight: bold;

    i {
        margin: 0 3%;
    }
}

.box i:first-of-type {
    color: $primary;
}

.box i:last-of-type {
    color: grey;
}

#restaurants {
    background-color: $shadows-light;
    display: flex;
    flex-direction: column;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 5%;
    position: relative;

    >a {
        text-decoration: none;
        color: black;

        >img {
            width: 100%;
            max-width: 300px;
            height: 190px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
    }
}

.description {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding-top: 1%;
    padding-left: 5%;

    div>p {
        margin-top: 0;
        font-size: .9em;
    }
}

