nav {
    background-color: $shadows-light;
    text-align: center;
}

.localisation {
    background-color: darken($color: $shadows, $amount: 3%);
    border-top: 3px solid darken($color: $shadows, $amount: 10%);
    flex-basis: 100%;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
        padding-right: 4%;
    }
}

.explore {
    padding: 4% 4% 14% 4%;

    h1 {
        font-size: 31px;
        padding: 0 9%;
        margin-bottom: 0%;
    }

    p {
        font-size: 1.5em;
    }
}