@media screen and (min-width: 992px) {

  /*Accueil*/

  header {
    background-color: #99e2d04a;
  }

  header img {
    width: 30%;
  }

  /* Nav */
  nav {

    background: rgb(255, 121, 218);
    background: radial-gradient(circle, rgba(255, 121, 218, 0.8) 48%, #9356dcc8 100%);
  }

  .explore {
    padding-bottom: 7%;
    background-image: url(/images/background/background-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .explore p,
  .explore h1 {
    color: white;
    padding: 1%;
  }

  .localisation:hover {
    cursor: text;
    color: rgb(147, 86, 220);
  }

  #exploreBtn {
    background: linear-gradient(to bottom right, #99e2d0, #45a18a);
    font-size: 150%;
    padding: 2% 3%;
  }

  #exploreBtn:hover {
    background: linear-gradient(to bottom right, #9de2d1, #4ca58f);
  }

  /* Notice */

  #notice {
    background-color: #f5f5f5fa;
    align-items: baseline;
  }

  .noticeBox {
    background-color: white;
    margin: 2% 0 2% 1%;
    padding: 1%;
    width: 30%;
  }

  .noticeBox i {
    margin: 0 5%;
  }

  .noticeNumber {
    padding: 0 7px;
  }

  /* Commun aux deux sections */

  #notice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #notice h2,
  #titleRestaurant {
    width: 100%;
  }

  /* Cartes accueil */

  #restaurants {
    background-color: #EDEDED;
  }

  .card {
    width: 48%;
    height: 100%;
    min-height: 570px;
  }

  .card img {
    min-height: 456px;
  }

  .newItem {
    padding-right: 3%;
  }


  /*Pages menu*/

  body {
    background-color: white;
  }

  #titleRestaurant {
    font-size: 2.2em;
  }

  #Palette,
  #Note,
  #France,
  #Delice {
    background-position: center;
  }

  .menuSection {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  article {
    flex-basis: 47%;
    min-width: 388px;
    height: 100%;
    margin-bottom: 7%;
  }

  article h2 {
    margin-bottom: 10%;
  }

  article:nth-of-type(3) {
    margin: 0 auto;
  }

  .menuBox {
    margin-bottom: 5%;
    padding: 5%;
  }

  .menuBox h3 {
    width: 80%;
  }

  .menuBox:active h3 {
    width: 60%;
  }

  .menuBox:active .checkAnimation {
    margin-left: 40%;
    width: 25%;
  }

  .menuBox:active .price {
    margin-right: 25%;
  }

  #orderBtn {
    flex-basis: 100%;
    padding: 2%;
  }

}