@media screen and (min-width: 992px) {

  /*Accueil*/

  body {
    margin: 0 auto;
  }

  header {
    background-color: #EDEDED;
  }
  
  /* Nav */
  nav {
    display: flex;
    flex-direction: column-reverse;
    background: rgb(255, 121, 218);
    background: radial-gradient(circle, rgba(255, 121, 218, 0.4822303921568627) 48%, rgba(147, 86, 220, 0.7847514005602241) 100%);
  }

  .explore {
    background-color: transparent;
    background-image: url(/images/restaurants/banner-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
  }

  .explore p,
  .explore h1 {
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 8px 5px 5px 1px rgb(189, 189, 189);
  }

  .localisation:hover {
    cursor: text;
    color: rgb(147, 86, 220);
  }

  button {
    margin-top: 1%;
  }

  /* Notice */

  #notice {
    background-color: #f5f5f5fa;
  }
  
  .noticeBox {
    background-color: white;
    margin: 2% 0 2% 1%;
    padding: 1%;
    width: 400px;
  }

  .noticeBox i {
    margin: 0 5%;
  }

  .noticeNumber {
    padding: 0 7px;
  }

  /* Commun aux deux sections */

  #notice, #restaurants {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #notice h2, #restaurants h2, #titleRestaurant {
    width: 100%;
  }

  /* Cartes accueil */

  #restaurants {
    background-color: #EDEDED;
  }

  .card {
    flex-basis: 49%;
    height: fit-content;
  }

  .card:hover {
    transform: none;
    opacity: 0.9;
  }

  .newItem {
    padding-right: 3%;
  }

  /*Pages menu*/

  body {
    background-color: white;
  }

  #titleRestaurant {
    font-size: 2em;
  }

  #Palette,
  #Note,
  #France,
  #Delice {
    background-size: contain;
    background-position: 50%;
    margin: auto;
  }

  .menuSection {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  article {
    flex-basis: 49%;
  }

  #orderBtn {
    flex-basis: 55%;
  }

  .menuBox:hover .price {
    padding: 0;
  }

}