@media screen and (min-width: 760px) {

    /*Accueil*/

    header img {
        width: 250px;
    }

    button {
        padding: 35px;
        font-size: 1.6em;
    }

    .noticeBox {
        font-size: 1.6em;
    }

    #restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 800px;
        padding-left: 5%;
    }

    #restaurants h2 {
        flex-basis: 100%;
    }

    .card {
        flex-basis: 40%;
        width: 400px;
        height: 280px;
        transform: scale(1);
        transition: all 350ms ease-in-out;
    }

    .card img {
        width: 400px;
    }

    .card:hover {
        transform: scale(1.2);
    }

    .description {
        font-size: 1.4em;
        padding-top: 3%;
    }

    footer h4 {
        font-size: 2em;
    }

    .link {
        font-size: 1.5em;
    }

/*Pages menu*/

body {
    font-size:larger
}

header img {
    width: 300px;
}

#menuImg {
    height: 500px;
}

#titleRestaurant {
    font-size: 2.5em;
}

#MenuLikeBtn {
    font-size: 1.6em;
    top: 120px;
}

.menuBox {
    padding-bottom: 4%;
    height: 100px;
    
}

.menuBox:hover .checkAnimation {
    width: 90px;
}

.menuBox:hover .price {
    margin-right: 95px;
}

}



}