@media screen and (min-width: 760px) {

    /*Accueil*/

    nav {
        display: flex;
        flex-direction: column-reverse;
        background: rgb(255, 121, 218);
        background: radial-gradient(circle, rgba(237, 237, 237, 0.784) 48%, rgba(153, 226, 208, 0.8) 100%);
    }

    .localisation {
        background-color: transparent;
        border-top: 3px solid transparent;
    }

    #exploreBtn {
        padding: 3%;
        width: 50%;
    }

    #restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #restaurants h2 {
        width: 100%;
        flex-basis: 100%;
    }

    .card {
        flex-basis: 49%;
        min-height: 500px;
    }

    .heart-empty,
    .heart-full {
        right: 30px;
        bottom: 40px;
    }

    /*Pages menu*/

    body {
        background-color: white;
    }

    header img {
        width: 300px;
    }

    /* Background image */
    #Palette,
    #Note,
    #France,
    #Delice {
        min-height: 500px;
        background-size: cover;
    }

    /* Section menu */
    .menuSection {
        width: 80%;
        margin: auto;
    }

    #MenuLikeBtn {
        top: 140px;
    }

    .menuBox:active .checkAnimation {
        width: 20%;
    }

    .menuBox:active h3 {
        width: 77%;
    }

    .menuBox:active .price {
        margin-right: 20%;
    }

    #orderBtn {
        width: 100%;
        padding: 3%;
    }
}