@media screen and (min-width: 760px) {

    /*Accueil*/

    header {
        background-color: #99e2d0ab;
        border-bottom: 3px solid #99e2d063;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
    }

    .localisation {
        background-color: #99e2d063;
        border-top: 3px solid #99e2d063;
    }

    #exploreBtn {
        padding: 3%;
        width: 50%;
    }


    #restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #restaurants h2 {
        width: 100%;
        flex-basis: 100%;
    }

    .card {
        flex-basis: 49%;
        min-height: 500px;
    }

    .heart-empty,
    .heart-full {
        right: 30px;
        bottom: 40px;
    }

    /*Pages menu*/

    body {
        background-color: white;
    }

    .withBtn {
        background-color: #EDEDED;
        border-bottom: 3px solid #EDEDED;
    }

    header img {
        width: 300px;
    }

    /* Background image */
    #Palette,
    #Note,
    #France,
    #Delice {
        min-height: 500px;
        background-size: cover;
    }

    /* Section menu */
    .menuSection {
        width: 85%;
        margin: auto;
    }

    .menuBox:active .checkAnimation {
        width: 20%;
    }

    .menuBox:active h3 {
        width: 70%;
    }

    .menuBox:active .price {
        margin-right: 20%;
    }

    #orderBtn {
        width: 100%;
        padding: 3%;
    }
}