/*Button principal*/

button {
    background: linear-gradient(to bottom right, $secondary, $primary );
    padding: 18px;
    border: none;
    border-radius: 40px;
    box-shadow: 3px 6px 8px 1px lightgrey;
    cursor: pointer;
    margin-top: 4%;
    transition: all 350ms ease-in-out;

    a {
        color: white;
        font-size: 1.3em;
        text-decoration: none;
    }

    &:hover {
        background: linear-gradient(to bottom right, #ff79d9d8, #9256dcd8);
        box-shadow: 8px 18px 10px 1px rgb(189, 189, 189);
    }
}

#orderBtn {
    color: white;
    font-size: 1.1em;
    width: 45%;
    margin: 0 auto;
}

/*Button "Nouveau"*/

.newItem {
    color: darken($color: $tertiary, $amount: 40%);
    background-color: $tertiary;
    text-align: center;
    font-weight: bold;
    font-size: .8em;
    padding: 2%;
    width: 70px;
    border-radius: 3px;
    position: absolute;
    top: 3%;
    right: 3%;
}

/*Button "J'aime"*/

.heart-empty,
.heart-full {
    font-size: 1.6em;
    right: 25px;
    bottom: 15px;
    cursor: pointer;
    transition: all 650ms ease-in-out;
}

.heart-empty {
    color: grey;
    z-index: 1;
    position: absolute;

    &:hover {
        opacity: 0;
        z-index: 2;
    }
}

.heart-full {
    position: absolute;
    z-index: 2;
    opacity: 0;
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
        opacity: 1;
        z-index: 1;
    }
}

#MenuLikeBtn {
    position: absolute;
    right: 40px;
    top: 90px;
    
}

/*Button go back*/

#goBack {
    background: none;
    border: none;
    font-size: 1.8em;
    margin-left: -50px;
    position: absolute;
    left: 80px;
    top: 25px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
        color: $primary;

        &:active {
            color: $secondary;
        }
    }
}


/*Button menu choice*/

.checkAnimation {
    width: 0px;
    background-color: $tertiary;
    color: white;
    font-size: 1.2em;
    border-radius: 0 15px 15px 0;
    transition: all 350ms ease-in-out;
    animation-fill-mode: both;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    position: absolute;
    right: .5px;
    bottom: .5px;

    i {
        transform: rotate(1);
        transition: all 400ms ease-in-out;
    }
}

.menuBox:hover {

    .checkAnimation {
        width: 55px;
        margin-left: auto;
        transition: all 400ms ease-in-out;

        i {
            transform: rotate(360deg);
        }
    }

    .price {
        margin-right: 60px;
    }
}