/*Bouton principal*/

#exploreBtn, #orderBtn {
    border: none;
    border-radius: 40px;
    box-shadow: 3px 6px 8px 1px lightgrey;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
    padding: 4%;
    margin-top: 4%;
    background: linear-gradient(to bottom right, $secondary, $primary);
    transition: all 350ms ease-in-out;

    &:hover {
        background: linear-gradient(to bottom right, lighten($color: $secondary, $amount: 5%), lighten($color: $primary, $amount: 5%));
        box-shadow: 8px 18px 10px 1px rgb(189, 189, 189);
    }
}

#orderBtn {
    color: white;
    padding: 4% 12%;
    margin: 10% auto 5% auto;
}


/*Bouton "Nouveau"*/

.newItem {
    color: darken($color: $tertiary, $amount: 40%);
    background-color: $tertiary;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 2% 4%;
    width: fit-content;
    border: none;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    right: 15px;
}

/*Bouton "J'aime"*/

.heart-empty,
.heart-full {
    font-size: 2em;
    right: 40px;
    bottom: 55px;
    cursor: pointer;
    transition: all 650ms ease-in-out;
}

.heart-empty {
    color: grey;
    z-index: 1;
    position: absolute;

    &:active {
        opacity: 0;
        z-index: 2;
    }
}

.heart-full {
    position: absolute;
    z-index: 2;
    opacity: 0;
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:active {
        opacity: 1;
        z-index: 1;
    }
}

#MenuLikeBtn {
    position: absolute;
    right: 4%;
    top: 140px;
    font-size: 35px;
}