button {
    background: linear-gradient(to bottom right, $secondary, $primary );
    padding: 18px;
    border: none;
    border-radius: 40px;
    box-shadow: 3px 6px 8px 1px lightgrey;
    cursor: pointer;
    margin-top: 4%;
    
    a {
        color: white;
        font-size: 1.3em;
        text-decoration: none;
        
    }
}

