@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap');
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

/* Pages menu */

#titleRestaurant {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
    font-weight: normal;
}

article h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2em;

    .greenLine {
        border-bottom: 3px solid $tertiary;
        padding-bottom: 6px;
    }
}



h3 + p {
    font-weight: normal;
}

.menuBox h3, .menuBox p {
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*Titre footer*/

h4 {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-weight: normal;
    padding: 5% 0 1% 6%;
    font-size: 25px;
    margin: 0%;
}


