@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap');
}

h1, h2 {
    font-size: 1.6em;
}

#titleRestaurant {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
    font-weight: normal;
}

article h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2em;
    padding-bottom: 6%;

    .greenLine {
        border-bottom: 3px solid $tertiary;
        padding-bottom: 3%;
    }
}

h3 {
    font-size: 1.1em;
    padding: 0;
    margin: 0%;
}


h3 + p {
    font-weight: normal;
}


h4 {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

article h3, article p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}