/*Page de chargement*/

.loader {
    background-color: $shadows-light;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 250%;
    overflow: hidden;
    animation: loader 3s linear;
    animation-delay: 0.50s;
    animation-fill-mode: forwards;
}

@keyframes loader {
    0% {
        opacity: 1;
    }

    99% {
        width: 100%;
        opacity: .8;
    }

    100% {
        opacity: 0;
        width: 0;
        z-index: -10;
        display: none;
    }
}

.welcomeMssg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}

.letter {
    animation: letters 1s alternate infinite;
    animation-delay: 0.50s;
}

@keyframes letters {
    0% {
        transform: translateY(0);
        color: $secondary;
    }

    50% {
        transform: translateY(100px);
        color: $primary;
    }

    100% {
        transform: translateY(0);
        color: $tertiary;
    }
}

.letter1 {
    animation-delay: 100ms;
}

.letter2 {
    animation-delay: 200ms;
}

.letter3 {
    animation-delay: 300ms;
}

.letter4 {
    animation-delay: 400ms;
}

.letter5 {
    animation-delay: 500ms;
}

.letter6 {
    animation-delay: 600ms;
}

.letter7 {
    animation-delay: 700ms;
}

.letter8 {
    animation-delay: 800ms;
}


/*Delais entre l'apparition des box menu*/

@keyframes menuBoxes {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.menuBox {
    transform: scale(0);
    animation: menuBoxes 900ms both;
}

.delay1 {
    animation-delay: 100ms;
}

.delay2 {
    animation-delay: 200ms;
}

.delay3 {
    animation-delay: 300ms;
}

.delay4 {
    animation-delay: 350ms;
}

.delay5 {
    animation-delay: 370ms;
}