/*Page de chargement*/

.loaderBackground {
    background-color: $lightBackground;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    animation: 3s linear 0.50s forwards loaderBackground;
}

@keyframes loaderBackground {
    0% {
        opacity: .99;
    }

    99% {
        width: 100%;
        opacity: .99;
    }

    100% {
        opacity: 0;
        width: 0;
        z-index: -10;
        display: none;
    }
}

.loaderAnimation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}

.letter {
    
    animation: 1s alternate 0.50s letters;
    animation-iteration-count: 2;
}

@keyframes letters {
    0% {
        transform: translateY(0);
        color: $primary;
    }

    50% {
        transform: translateY(100px);
        color: $secondary;
    }

    100% {
        transform: translateY(0);
        color: $tertiary;
    }
}

.letter1 {
    animation-delay: 0ms;
}

.letter2 {
    animation-delay: 80ms;
}

.letter3 {
    animation-delay: 160ms;
}

.letter4 {
    animation-delay: 240ms;
}

.letter5 {
    animation-delay: 320ms;
}

.letter6 {
    animation-delay: 400ms;
}

.letter7 {
    animation-delay: 480ms;
}

.letter8 {
    animation-delay: 560ms;
}